/* *{
    outline: 2px solid black;
} */
.texto{
    font-size: 24px;
}
.map,.gear{
    width: 25px;
}
.container{
    border:2px solid rgb(153, 153, 153);
}
.img img{
    border: 5px solid white;
    border-radius: 50%;
    height: 200px;
    margin-top: 90px;
    margin-left: 20px;
}
.top{
    height: 200px;
    background-color: rgb(66, 163, 185);

}
.bot{
    margin-top: 90px;
    flex: 7;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
}
.nombre{
    font-size: 50px;
}
