.my{
    color: white;
}
.cloud{
    color: rgb(0, 255, 255);
}
.top{
    font-size: 50px;
    display: flex;
    background-color: black;
    margin: 20px;    
    padding-left: 30px;
    padding-right: 30px;
}
.mid{
    font-size: 20px;
    display: flex;  
    background-color: rebeccapurple;
    margin: 20px;
    justify-content: center; 
        color: white;
    }
.bot{
    display: inline-block;
    text-decoration: underline;
    border-bottom: 1px;
    font-size: 20px;
    display: flex;
    background-color:rgb(159,197,248);
    margin: 20px; 
    justify-content: flex-end;
}
