

.carta{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self:center ;
    align-self: center;
    border-radius: 20px;
    
}
.texto{
    text-align:center;
    background-color: white;
}

.homero{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
    align-self: center;
}

.bot{
    background-color: rgb(55, 152, 219);
    color: white;
    border-radius: 10px;
    border: 0px;
}

